*{
  background-color: rgba(187, 0, 0, 0.24);
  transition: 2s all;
}

.container {
    position: absolute;
    width: 610px;
    height: 610px;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .female-character {
    position: absolute;
    display: block;
    width: 88%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);

  }
  
  .text-container {
  }
  
  .headline1 img,
  .headline2 img,
  .subheadline img,
  .learn-more img,
  .logo img,
  .replay-button img {
    width: 100%;
  }

  .headline1,
  .headline2,
  .subheadline,
  .learn-more,
  .logo,
  .replay-button{
    position: absolute;
    display: block;
    width: 100%;
  }

  /* animations */
.logo img{
  transform: translate(0, 0);
}

  .headline1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
  }
  
  .headline2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);

  }
  
  .subheadline {
    top: 50%;
    left: 50%;
    transform: translate(-65%, -45%);
    width: 130%;
  }
  
  .learn-more {
    top: 50%;
    left: 50%;
    width: 65%;
    transform: translate(-50%, 60%);
  }
  
  .lefto-right{

  }
  
  .logo {
    top: 50%;
    left: 50%;
    transform: translate(-15%, -95%);
    transition: all 2s;
    width: 65%;
  }
  
  .replay-button {
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    width: 50%;
  }
 