body{
  justify-content: center;
  background-color: rgba(209, 135, 209, 0.733);

}

#root{
  width: 100%;
  height: 100%;
  justify-content: center;
}

.hidden{
  display: none;
}

.square-container{
  top: 50%;
  bottom: 50%;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  grid-gap: 0px; 
  flex-direction: column;
  padding: 30px;
  margin: auto;
  margin-top: 60px;
}

.square{
  width: 170px;
  height: 170px;
  padding: auto;
  background-color: rgb(165, 31, 165);
  margin: 0;
  box-shadow: 7px 7px rgb(243, 165, 253) inset, -10px -10px rgba(73, 73, 73, 0.39) inset, -3px -3px rgba(34, 34, 34, 0.39) inset;
  color: white;
  font-weight: 900;
  font-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.turn-indicator-cont{
  display: flex;
  width: 100%;
  justify-content: center;
}

.turn-indicator{
  display: flex;
  position: fixed;
  top: 10px;
  /* left: 25%; */
  justify-content: center;
  margin: auto;
  /* align-self: center; */
  /* justify-self: center; */
  /* left: 50%; */
  width: 510px;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(128, 11, 128);
  color: white;
  font-weight: 600;
  font-size: 30px;
}

.reset{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(209, 40, 40);
  color: white;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
}

.scoreboard{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(94, 12, 94, 0.322);
  color: white;
  font-weight: 600;
  font-size: 25px;

}

.scoreboard div{
  padding: 2px, 0, 0, 17px;
}

.scoreboard-reset{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
  padding-bottom: 15px;
}

.scoreboard-reset svg{
  cursor: pointer;
}